In [1]:
import pandas as pd
import altair as alt
from vega_datasets import data as vega_data

In [2]:
data = vega_data.gapminder()
data

     year      country  cluster       pop  life_expect  fertility
0    1955  Afghanistan        0   8891209       30.332     7.7000
1    1960  Afghanistan        0   9829450       31.997     7.7000
2    1965  Afghanistan        0  10997885       34.020     7.7000
3    1970  Afghanistan        0  12430623       36.088     7.7000
4    1975  Afghanistan        0  14132019       38.438     7.7000
..    ...          ...      ...       ...          ...        ...
688  1985    Venezuela        3  16997509       70.190     3.6485
689  1990    Venezuela        3  19325222       71.150     3.2500
690  1995    Venezuela        3  21555902       72.146     2.9415
691  2000    Venezuela        3  23542649       72.766     2.7230
692  2005    Venezuela        3  25375281       73.747     2.5470

[693 rows x 6 columns]

In [5]:
data2000 = data.loc[data['year'] == 2000]
data2000

     year         country  cluster        pop  life_expect  fertility
9    2000     Afghanistan        0   23898198       42.129     7.4792
20   2000       Argentina        3   37497728       74.340     2.3500
31   2000           Aruba        3      69539       73.451     2.1240
42   2000       Australia        4   19164620       80.370     1.7560
53   2000         Austria        1    8113413       78.980     1.3820
..    ...             ...      ...        ...          ...        ...
647  2000     Switzerland        1    7266920       80.620     1.4150
658  2000          Turkey        1   65666677       70.845     2.2300
669  2000  United Kingdom        1   59522468       78.471     1.6950
680  2000   United States        3  282338631       77.310     2.0380
691  2000       Venezuela        3   23542649       72.766     2.7230

[63 rows x 6 columns]

In [7]:
alt.Chart(data2000).mark_bar().encode(
    alt.X('cluster:N'),
    alt.Y('pop:Q'),
    alt.Color('country:N', legend=None),
    alt.Tooltip('country:N')
)

alt.Chart(...)